.ctatext{
  text-align: center;
  border-bottom: solid 1px #FF5F1B;
  margin-bottom: 20px;
}
.ctatext2{
  text-align: center;
}
.itunesbadge{
  width: 150px;
  margin-bottom: 10px;
  margin-left: 10px;
}
