.ctatext{
  text-align: center;
  border-bottom: solid 1px #FF5F1B;
  margin-bottom: 20px;
  max-width: 900px;
  h1{
    margin: 0 auto;
  }
}
.ctatext2{
  text-align: center;
}
.itunesbadge{
  width: 150px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.ctarow{
  max-width: 900px;
  margin: 0 auto;
}
