ul.ss-choices{
  list-style: none;
  padding-left: 0;
}
.required-message{
  display: none;
}

.videoContainer{
  text-align: center;
}

.formHeader{
  text-align: center;
}

@media (max-width: 1200px){
  .videoContainer{margin-bottom: 100px;}
}
