<div id="cta" class="container">
  <div class="row">
    <div class="col-lg-12 ctatext">
      <h1>‘REINCARNATE’ AVAILABLE NOW <a href="smarturl.it/miwreincarnate" target="_blank"><img class="itunesbadge" src="https://s3.amazonaws.com/myfangate.com/miwcover/itunesbadge.png"></a></h1>
    </div>
  </div>
</div>
