<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-push-6 videoContainer">
      <h1>WATCH THE TUTORIAL HERE</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Bd75C3IENLo" frameborder="0" allowfullscreen></iframe>
      </div> 
    </div>
    <div class="col-lg-6 col-lg-pull-6">
        <!--G FORM -->
         <h1 class="formHeader">ENTER HERE</h1>
        <div class="ss-form">


        <script type="text/javascript">var submitted=false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
        onload="if(submitted) {$('.ss-form').html('<center><h1>Thank you for entering!</h1></center>').css('height','397px');ga('send', 'event',  'Form', 'Complete', 'Success');}"></iframe>
          
            <form id="ss-form" action="https://docs.google.com/a/trendsettermarketing.net/forms/d/129yvRPk1pnVO0Atn3z24scGzfHe4nvQsYDTqkHbyOXU/formResponse" method="post" target="hidden_iframe" 
        onsubmit="return validateForm()">
            <ol role="list" class="ss-question-list" style="padding-left: 0">
              
              <div class="form-group">
              <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_2080480129"><div class="ss-q-title">First Name:
              </div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
              <input type="text" name="entry.2080480129" value="" class="ss-q-short form-control" id="entry_2080480129" dir="auto" aria-label="First Name:  " title="" onkeyup="nospaces(this)">
              <div class="error-message" id="978202807_errorMessage"></div>
              <div class="required-message">This is a required question</div>
              </div></div></div>
              </div>

              <div class="form-group">
              <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_471668626"><div class="ss-q-title">Last Name:
              </div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
              <input type="text" name="entry.471668626" value="" class="ss-q-short form-control" id="entry_471668626" dir="auto" aria-label="Last Name:  " title="" onkeyup="nospaces(this)">
              <div class="error-message" id="1933867920_errorMessage"></div>
              <div class="required-message">This is a required question</div>
              </div></div></div>
              </div>

              <div class="form-group">
              <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_193196971"><div class="ss-q-title">Email Address:
              </div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
              <input type="text" name="entry.193196971" value="" class="ss-q-short form-control" id="entry_193196971" dir="auto" aria-label="Email Address:  " title="">
              <div class="error-message" id="1524149796_errorMessage"></div>
              <div class="required-message">This is a required question</div>
              </div></div></div>
              </div>

              <div class="form-group">
              <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_1845520799"><div class="ss-q-title">Youtube Link
              </div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
              <input type="text" name="entry.1845520799" value="" class="ss-q-short form-control" id="entry_1845520799" dir="auto" aria-label="Youtube Link:  " title="">
              <div class="error-message" id="1124195967_errorMessage"></div>
              <div class="required-message">This is a required question</div>
              </div></div></div>
              </div>

              <div class="form-group">
              <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-checkbox"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_768427506"><div class="ss-q-title">
              </div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

              <ul class="ss-choices" role="group" aria-label="  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.937731975" value="I have read and agree to the rules" id="group_937731975_1" role="checkbox" class="ss-q-checkbox"></span>
              <span class="ss-choice-label">I have read and agree to the rules</span>
              </label></li></ul>
              <div class="error-message" id="768427506_errorMessage"></div>
              <div class="required-message">This is a required question</div></div></div>
              </div>
              </div>


              <input type="hidden" name="draftResponse" value="[,,&quot;-5468418597670844003&quot;]
              ">
              <input type="hidden" name="pageHistory" value="0">


              <input type="hidden" name="fbzx" value="-5468418597670844003">

              <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
              <input class="btn btn-default" type="submit" name="submit" value="Submit" class="megansubmit" id="ss-submit">
              </td>

              </tr></tbody></table></div>
            </ol>
          </form>
        </div>
        <!-- END GMFORM -->
    </div>
  </div>
</div>











