<div id="masthead">
  <div class="container">
    <div class="row">
      <img class="img-responsive logo shadow" src="https://s3.amazonaws.com/myfangate.com/miwcover/miwlogo.svg">
      <img class="img-responsive promo" src="https://s3.amazonaws.com/myfangate.com/miwcover/bandphoto.png">
      <img src="https://s3.amazonaws.com/myfangate.com/miwcover/tear.svg" width="100%" class="mastheadtear">
    </div>
  </div>
</div>
