<div id="join">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 jointext">
        <h1>JOIN THE #MOTIONLESSINWHITE CONVERSATION</h1>
      </div>
      <div class="col-lg-6">
       <a class="twitter-timeline" href="https://twitter.com/hashtag/motionlessinwhite" data-widget-id="535864514835935232" data-chrome="transparent">#motionlessinwhite Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col-lg-6">
        <!-- SnapWidget -->
        <script src="https://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="https://snapwidget.com/p/widget/?id=XF6PjPteiX&t=957" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
      </div>
    </div>
    <img src="https://s3.amazonaws.com/myfangate.com/miwcover/downtear.svg" width="100%" class="prizingtear">
    <img src="https://s3.amazonaws.com/myfangate.com/miwcover/tear.svg" width="100%" class="prizingtear2">
  </div>
</div>
