<div id="prizing">
  <div class="container">
    <div class="row">
      <div class="prizingHeader">
        <h2 style="text-transform: uppercase;">Submit your cover of “Reincarnate” for a chance to win a custom <img src="https://s3.amazonaws.com/myfangate.com/miwcover/ibanezlogo2.png" style="max-width: 100px; height: inherit; width:100%;"> guitar and more! Watch Ricky's video to find out how.</h2>
      </div>
      <img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/miwcover/prizing.png">
      <img src="https://s3.amazonaws.com/myfangate.com/miwcover/downtear.svg" width="100%" class="prizingtear">
      <img src="https://s3.amazonaws.com/myfangate.com/miwcover/tear.svg" width="100%" class="prizingtear2">
      <div class="prizelist">
      <h3>PRIZING INCLUDES</h3>
        <ul>
          <li style="text-transform: uppercase;">Custom <img src="https://s3.amazonaws.com/myfangate.com/miwcover/ibanezlogo2.png" style="max-width: 50px; height: inherit; width:100%;"> Guitar</li>
          <li style="text-transform: uppercase;">Motionless In White Tab Book</li>
          <li style="text-transform: uppercase;">Limited Edition ‘Reincarnate’ Deluxe CD</li>
          <li style="text-transform: uppercase;">$100 <img src="https://s3.amazonaws.com/myfangate.com/miwcover/ironfistlogo2.png" style="max-width: 40px; height: inherit; width:100%;"> gift card</li> 
          <li style="text-transform: uppercase;">1 year subscription to <img src="https://s3.amazonaws.com/myfangate.com/miwcover/guitarworldlogo2.png" style="max-width: 40px; height: inherit; width:100%;"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
