<div id="prizing">
  <div class="container">
    <div class="row">
      <div class="prizingHeader">
        <h1>WATCH THE VIDEO BELOW</h1>
        <h1>AND SUBMIT YOUR COVER TO WIN</h1>
      </div>
      <img class="img-responsive shadow-light" src="https://s3.amazonaws.com/myfangate.com/miwcover/prizing.png">
      <img src="https://s3.amazonaws.com/myfangate.com/miwcover/downtear.svg" width="100%" class="prizingtear">
      <img src="https://s3.amazonaws.com/myfangate.com/miwcover/tear.svg" width="100%" class="prizingtear2">
      <div class="prizelist">
      <h3>PRIZING INCLUDES</h3>
        <ul>
          <li>CUSTOM IBANEZ GUITAR</li>
          <li>MOTIONLESS IN WHITE TAB BOOK</li>
          <li>MOTIONLESS IN WHITE BIBLE CD BOX</li>
          <li>1 YR. SUBSCRIPTION TO GUITAR WORLD</li>
          <li>$100 GIFT CARD FROM IRON FIST CLOTHING</li>
        </ul>
      </div>
    </div>
  </div>
</div>
