<div id="prizing">
  <div class="container">
    <div class="row">
      <img class="img-responsive shadow" src="<%= lorem.image('900x400') %>">
      <img src="https://s3.amazonaws.com/myfangate.com/miwcover/downtear.svg" width="100%" class="prizingtear">
      <img src="https://s3.amazonaws.com/myfangate.com/miwcover/tear.svg" width="100%" class="prizingtear2">
    </div>
  </div>
</div>
